<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Switches as fast as you do</h2>
                    <h3 class="section-subheading text-muted">You are probably better at typing than you are at aiming the mouse</h3>
                </div>
            </div>
            <div class="row">
                <img src="img/portfolio/Window-Walker.gif" class="img-responsive img-centered" alt="">
            </div>
        </div>
    </section>
